<!DOCTYPE html>
<html>
<head>
 	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" 
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
	crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="">
</head>
<body>
	<div class="row">
        <footer class="w-100" style="background-color: rgba(0, 0, 0, 1);">
            <div class="row">
            <div class="col-8 ms-5 p-3 text-light">
                © 2020 Copyright: All Right Reserved-Spring Boot-Nguyen Vu Anh Khoa
            </div>
            <div class="col-auto text-light mt-3" >
                Template
            </div>
            </div>  
        </footer>
    </div>
</body>
</html>